parameters:
	ignoreErrors:
		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\Block0\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/Block0.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\Block1\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/Block1.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\BlockA\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/BlockA.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\BlockC\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/BlockC.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\BlockD\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/BlockD.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\BlockF\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/BlockF.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\BlockI\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/BlockI.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\BlockM\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/BlockM.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\Contribuicoes\\BlockP\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/Contribuicoes/BlockP.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\Block0\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/Block0.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\Block1\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/Block1.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\BlockB\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/BlockB.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\BlockC\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/BlockC.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\BlockD\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/BlockD.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\BlockE\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/BlockE.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\BlockG\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/BlockG.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\BlockH\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/BlockH.php

		-
			message: '#^Property NFePHP\\EFD\\Blocks\\ICMSIPI\\BlockK\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Blocks/ICMSIPI/BlockK.php

		-
			message: '#^Property NFePHP\\EFD\\Common\\Block\:\:\$elements type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Common/Block.php

		-
			message: '#^Property NFePHP\\EFD\\Common\\Block\:\:\$errors type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Common/Block.php

		-
			message: '#^Method NFePHP\\EFD\\Common\\BlockInterface\:\:get\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Common/BlockInterface.php

		-
			message: '#^Method NFePHP\\EFD\\Common\\Element\:\:numberFormat\(\) has parameter \$fieldname with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Common/Element.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$element$#'
			identifier: parameter.notFound
			count: 1
			path: src/Common/Element.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: src/Common/Element.php

		-
			message: '#^Property NFePHP\\EFD\\Common\\Element\:\:\$errors type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Common/Element.php

		-
			message: '#^Property NFePHP\\EFD\\Common\\Element\:\:\$parameters type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Common/Element.php

		-
			message: '#^Strict comparison using \=\=\= between float\|int\|numeric\-string and '''' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Common/Element.php

		-
			message: '#^Method NFePHP\\EFD\\Common\\ElementInterface\:\:postValidation\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Common/ElementInterface.php

		-
			message: '#^Access to an undefined property NFePHP\\EFD\\Common\\BlockInterface\:\:\$errors\.$#'
			identifier: property.notFound
			count: 1
			path: src/EFD.php

		-
			message: '#^Method NFePHP\\EFD\\EFD\:\:add\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/EFD.php

		-
			message: '#^Method NFePHP\\EFD\\EFD\:\:get\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/EFD.php

		-
			message: '#^Property NFePHP\\EFD\\EFD\:\:\$errors type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/EFD.php

		-
			message: '#^Property NFePHP\\EFD\\EFD\:\:\$possibles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/EFD.php

		-
			message: '#^Variable \$key in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/EFD.php

		-
			message: '#^Property NFePHP\\EFD\\EFDCont\:\:\$possibles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/EFDCont.php

		-
			message: '#^Property NFePHP\\EFD\\EFDICMS\:\:\$possibles type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/EFDICMS.php

		-
			message: '#^Method NFePHP\\EFD\\Elements\\Contribuicoes\\A170\:\:roundFloat\(\) never returns int so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Elements/Contribuicoes/A170.php

		-
			message: '#^Method NFePHP\\EFD\\Elements\\ICMSIPI\\B510\:\:validaCPF\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Elements/ICMSIPI/B510.php

		-
			message: '#^Method NFePHP\\EFD\\Elements\\ICMSIPI\\B510\:\:validaCPF\(\) has parameter \$cpf with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Elements/ICMSIPI/B510.php

		-
			message: '#^Method NFePHP\\EFD\\Elements\\ICMSIPI\\C100\:\:postValidation\(\) with return type void returns true but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Elements/ICMSIPI/C100.php

		-
			message: '#^Method NFePHP\\EFD\\Elements\\ICMSIPI\\C116\:\:postValidation\(\) with return type void returns true but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Elements/ICMSIPI/C116.php

		-
			message: '#^Method NFePHP\\EFD\\Elements\\ICMSIPI\\C170\:\:postValidation\(\) with return type void returns false but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Elements/ICMSIPI/C170.php

		-
			message: '#^Method NFePHP\\EFD\\Elements\\ICMSIPI\\C800\:\:postValidation\(\) with return type void returns true but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/Elements/ICMSIPI/C800.php
